body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.main-section {
  min-width: 380px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    6px 6px 20px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

@media screen and (min-width: 760px) {
  .main-section {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    position: absolute;
  }
}
/* main content section */

.main-content-section {
  padding: 215px 90px 230px 90px;
}

.main-content-title {
  padding: 5px 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
  background-color: rgb(255, 231, 212);
}

/* about me section */

.about-me-section {
  margin-bottom: 40px;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}

.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/* my projects section */

.my-projects-section {
  margin: 0 0 50px 0;
}

.my-projects-name {
  margin-left: 5px;
}

.my-project-h {
  margin-left: 5px;
}

.my-projects-item {
  list-style-type: none;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  margin-left: 5px;
}

.my-projects-bracket {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/* my work experience section */

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.my-work-experience-company {
  color: #fb6d3a;
}

.my-work-experience-period {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin: 0 0 10px 0;
}

.my-work-experience-divider {
  color: #000;
}

.my-work-experience-duties {
  padding: 0 0 0 18px;
}

.my-work-experience-dutuy {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.my-work-experience-company-block {
  margin: 0 0 15px 0;
}

/* my education section */

.my-education-sections {
  margin: 45px 0 0 0;
}

.my-education-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 20px 0 0 0;
}

.my-education-faculty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 10px 0 0 0;
}

.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin: 10px 0 0 0;
}

.my-education-divider {
  color: #000000;
}

/* sidebar section */

.sidebar-section {
  background-color: #1e2939;
  padding: 40px;
}

@media screen and (min-width: 760px) {
  .sidebar-section {
    width: 390px;
  }
}

.contacts-section,
.tech-skill-section {
  margin: 50px 0 0 40px;
}

.soft-skills-section {
  margin: 45px 0 0 40px;
}

.my-language-section {
  margin: 45px 0 0 40px;
}

.sidebar-photo {
  display: flex;
  justify-content: center;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* contacts section */

.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* skills list section */

.skills-list {
  padding-left: 17px;
}

.skills-item {
  color: #fb6d3a;
}

.skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
